{% from "macros.jinja" import function_typedef, function_definition, createThreadStub with context %}

{% if section == "globals" %}
    {% include "lib/sections.jinja" %}
{% else %}
    HANDLE hSelfProc = GetCurrentProcess();
    void *mem = alloc(hSelfProc, hProc, raw, length);
{% endif %}
