{% from "macros.jinja" import syscall_call, createThreadStub with context %}

{% if section == "globals" %}
    {% include "lib/sections_syscalls.jinja" %}
{% else %}
    HANDLE hSelfProc = GetCurrentProcess();
    void *mem = alloc(hSelfProc, hProc, raw, length);
{% endif %}
