{% from "macros.jinja" import function_typedef, function_definition, createThreadStub with context %}

{% if section == "globals" %}
    {% include "lib/sections.jinja" %}
{% else %}
    HANDLE hProc = GetCurrentProcess();
    void *mem = alloc(hProc, hProc, raw, length);
{% endif %}
