{% from "macros.jinja" import function_typedef, function_definition, createThreadStub with context %}

{% if section == "globals" %}
    {{ function_typedef("OpenProcess") }}
    {{ function_typedef("CreateThread") }}

    {% include "lib/find_process.cpp" %}
{% else %}
    int pid = FindProcess("{{ target }}");
    if(!pid){
        printf("[-] Failed to discover process\n");
        return 0;
    }

    {{ function_definition("OpenProcess") }}

    HANDLE hProc = pOpenProcess(
        PROCESS_CREATE_THREAD | PROCESS_QUERY_INFORMATION | PROCESS_VM_OPERATION | PROCESS_VM_READ | PROCESS_VM_WRITE,
        FALSE,
        (DWORD) pid
    );
{% endif %}
