{% if section == "globals" %}
    int XOREncode(unsigned char* data, size_t data_len)
    {
        const char key[] = "{{ decoder['decoder_data']['key'] }}";
        size_t key_length = {{ decoder['decoder_data']['key_length'] }};

        for (int i = 0; i < data_len; i++){
            data[i] ^= key[i % key_length];
        }
        return data_len;
    }
{% else %}
    XOREncode(raw, length);
{% endif %}
