{% if section == "text" %}
    [Microsoft.SqlServer.Server.SqlFunction]
    public static void {{ "info_fn" | RNDVAR }}()
    {
        string userName = System.Security.Principal.WindowsIdentity.GetCurrent().Name;
        {{ "response_fn" | RNDVAR }}(userName);
    }
{% endif %}
